nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  float: right;
  
}

li {
  display: inline;
  margin: 15px;
}

nav a {
  text-decoration: none;
  color: #353535;
}

* {
  font-family: Montserrat, sans-serif;

}

 
